@import "../../../scss/variables.scss";

/* Place */

.main-container__place {
  position: absolute;
  top: 14px;
  right: 16px;
  text-align: right;

  @media (min-width: $tablet-width) {
    position: relative;
    top: auto;
    right: auto;
    display: flex;
    margin: 32px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    margin: 32px 64px;
  }
}

.place__logo {
  color: $main-accent;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
}

.place__location {
  margin: 9px 0;
}

.location__image {
  padding: 0 7px;
  height: 18px;
  width: 15px;
}

.location__name {
  position: relative;
  color: $gray;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  &::before {
    position: absolute;
    content: url("../../../assets/images/location.svg");
    top: -3px;
    left: -23px;
    width: 15px;
    height: 18px;
  }
}
