@import "../../../scss/variables.scss";

.search {
  .label {
    margin-right: 5px;
  }

  .input[type="search"] {
    height: 20px;
    border: 0;
    border-bottom: 1px solid $gray;
    background: $white;
    color: $black;

    &:focus {
      outline: 0;
      border: 0;
      border-bottom: 1px solid $black;

      &::-webkit-search-cancel-button {
        opacity: 1;
      }
    }

    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
      height: 8px;
      width: 8px;
      background: url("../../../assets/images/cancel.svg") no-repeat 50% 50%;
      background-size: contain;
      opacity: 0.5;
    }

    @media (min-width: $tablet-width) {
      width: 224px;
    }
  }
}
